# Setup linux packages
packages:
  yum:
    git: []
    openssl-devel: [ ]
    fontconfig: []
    libXrender: []
    libXext: []
    xorg-x11-fonts-Type1: []
    xorg-x11-fonts-75dpi: []
    freetype: []
    libpng: []
    zlib: []
    libjpeg-turbo: []
    openssl: []
    icu: []

    gcc: [ ]
    epel-release: [ ]
    make: [ ]
    libyaml-devel: [ ]
    libxml2: [ ]
    libxml2-devel: [ ]
    libxslt: [ ]
    libxslt-devel: [ ]
    libffi-devel: [ ]
    mariadb-devel: [ ]
    zlib-devel: [ ]
    patch: [ ]
    readline: [ ]
    readline-devel: [ ]
    bzip2: [ ]
    autoconf: [ ]
    automake: [ ]
    gcc-c++: [ ]
    libtool: [ ]
    bison: [ ]
