commands:
  01_wkhtmltopdf_install:
    cwd: /tmp
    command: 'sudo yum -y install https://github.com/wkhtmltopdf/packaging/releases/download/0.12.6-1/wkhtmltox-0.12.6-1.amazonlinux2.x86_64.rpm'
    test: 'rpm -qa | (! grep wkhtmltox-0.12.6-1.amazonlinux2.x86_64)'
    ignoreErrors: true

files:
  "/usr/local/bin/wkhtmltopdf.sh" :
    mode: "000751"
    owner: root
    group: users
    content: |
      #!/usr/bin/env bash
      xvfb-run -a -s "-screen 0 640x480x16" wkhtmltopdf "$@"