option_settings:
  # This is not an exhaustive list of required environment variables, but just the variables that can be safely checked into the repo.
  # The rest can be set through `eb setenv` or other means.
  aws:elasticbeanstalk:application:environment:
    # Rails Settings
    RAILS_SKIP_MIGRATIONS: false
    RAILS_SKIP_ASSET_COMPILATION: false

    # Bundle Settings
    BUNDLE_WITHOUT: "test:development"
    BUNDLE_JOBS: 4
    BUNDLE_RETRY: 3

    RACK_ENV: production
    TREATMENT_DATABASE_ADAPTER: mysql2